<div id='<%= dom_id(comment) %>'>
 <h4>Comment:</h4><%= comment.content %><br />
 <h5>Author:</h5><%= comment.author %> |
    <%= link_to 'Destroy', [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
  </small>
</div><br />
