<div id='<%= dom_id(comment) %>'>
  <%= comment.content %><br />
 <%= comment.author %> |
    <%= link_to 'Destroy', [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
  </small>
</div><br />
