<html>
<head>
<title>Welcome aboard</title>
</head>

<h1> <em><strong>Welcome aboard</strong></em></h1>

<body>

Welcome to Ramin's static Rails BDD page. If you're here, you must be interested in hiring me.
</body>
</html>
