<html>
<head>
<title>Welcome aboard</title>
</head>

<h1> Welcome aboard</h1>

<body>
Welcome to Ramin's static Rails BDD page. If you're here, you must be interested in hiring me.

<br><br><br>
<%= link_to 'New Post', new_post_path %>

</body>
</html>

