
<title>Welcome aboard</title>

<h1> Welcome aboard</h1>


Welcome to Ramin's static Rails BDD page. If you're here, you must be interested in hiring me.

<br><br><br>


<% if current_user %>
<%= link_to 'New Post', new_post_path %>
<% end %>
<br>
